---
{% for host in groups[etcd_peers_group] %}
{% set entry=hostvars[host] %}
{{ entry.inventory_hostname }}:
{% if 'etcd_interface' in entry %}
  etcd_interface: eth1
{% if entry.etcd_interface in entry.ansible_interfaces %}
  interface: {{ entry['ansible_eth1'] | to_json }}
{% endif %}
{% else %}
  interface: {{ entry['ansible_eth1'] | to_json }}
{% endif %}
{% endfor %}
